<govuk-details summary="About Phase 3 Progress Update 2">
  <p class="govuk-body">
    Participants in the third compliance period for ESOS are required to submit two progress updates. You will not be
    able to submit progress updates unless you have submitted an action plan (you will be asked to confirm this in
    MESOS).
  </p>

  <h3 class="govuk-heading-s">Submitting progress update 2</h3>

  <p class="govuk-body">You must complete the second of the two progress updates if you are:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      A responsible undertaking which submitted progress update 1 for the third compliance period under an existing
      MESOS account.
    </li>
    <li>
      An undertaking that has left its highest parent group / participant following the submission of progress update 1,
      which has not agreed to comply with its previous or new group so must comply on its own behalf as the responsible
      undertaking, under a new MESOS account.
    </li>
  </ul>

  <p class="govuk-body">
    You will be asked to report whether, since the submission of progress update 1, you have implemented any further
    measures in your action plan, and whether you have implemented any measures that were not included in your action
    plan. Estimates will be needed in relation to each implemented measure of the reduction in energy consumption
    resulting during the period between 6 December 2025 and 5 December 2026. On an optional basis, you will also be able
    to provide estimates for this period for any measures you reported as implemented in your action plan or progress
    update 1. All progress updates will be published by the Environment Agency.
  </p>
  <p class="govuk-body">
    Only the responsible undertaking can complete and submit progress updates in MESOS. It will not be possible for lead
    assessors to enter, edit or review the information.
  </p>
  <p class="govuk-body">
    You will be able to save the information entered for your progress update at any time and return to complete it,
    before submitting it.
  </p>
</govuk-details>
