<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Did all your energy audits use 12 months of verifiable data?"
  caption="Compliance route"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <p class="govuk-hint">
    Where applicable, you must provide details of the extent to which and the reasons why 12 months’ verifiable data was
    not used as required to be recorded under regulation 26(9)(g) of the ESOS Regulations 2014 as amended by the ESOS
    (Amendment) Regulations 2023.
  </p>

  <div formControlName="areTwelveMonthsVerifiableDataUsed" govuk-radio>
    <govuk-radio-option [value]="true" label="Yes"></govuk-radio-option>
    <govuk-radio-option [value]="false" label="No">
      <ng-container govukConditionalContent>
        <div
          formControlName="twelveMonthsVerifiableDataUsedReason"
          label="Provide details of the extent to which and reasons why your energy audits did not use 12 months of verifiable data"
          govuk-textarea
          [maxLength]="10000"
        ></div>
      </ng-container>
    </govuk-radio-option>
  </div>
</esos-wizard-step>
