<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Do you have any data on the proportion of energy savings achieved which relate to recommendations from different sources?"
  caption="Energy savings achieved"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <div class="govuk-body">
    <p>Include data from:</p>
    <ul>
      <li>energy audits</li>
      <li>alternative compliance routes</li>
      <li>sources that were not identified through ESOS</li>
    </ul>
  </div>
  <div formControlName="energySavingsRecommendationsExist" govuk-radio>
    <govuk-radio-option value="YES" [label]="'YES' | skipQuestion"> </govuk-radio-option>
    <govuk-radio-option value="NO" [label]="'NO' | skipQuestion"></govuk-radio-option>
    <govuk-radio-option
      value="SKIP_QUESTION"
      [label]="'SKIP_QUESTION' | skipQuestion"
      [divider]="true"
    ></govuk-radio-option>
  </div>
</esos-wizard-step>
