<esos-wizard-step
  [formGroup]="form"
  [heading]="heading"
  [caption]="isFirstCompliancePeriod ? 'First compliance period' : 'Second compliance period'"
  (formSubmit)="submit()"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <p class="govuk-hint govuk-!-margin-bottom-6">{{ hint }}</p>

  <div
    class="govuk-!-width-one-third"
    govuk-text-input
    inputType="number"
    suffix="kWh"
    formControlName="organisationalEnergyConsumption"
  ></div>
</esos-wizard-step>
