<h3 class="govuk-heading-s">Energy management practices</h3>
<div class="row-flex" formGroupName="energyManagementPractices">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Behaviour change interventions</h3>
<div class="row-flex" formGroupName="behaviourChangeInterventions">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Training</h3>
<div class="row-flex" formGroupName="training">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Controls improvements</h3>
<div class="row-flex" formGroupName="controlsImprovements">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Capital investments</h3>
<div class="row-flex" formGroupName="capitalInvestments">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Other measures not covered by one of the above</h3>
<div class="row-flex" formGroupName="otherMeasures">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>
