<ng-container *ngIf="vm() as vm">
  <esos-page-heading caption="Organisation structure">Check your answers</esos-page-heading>

  <ng-container *ngIf="vm.data">
    <esos-organisation-structure-summary-page
      [vm]="vm"
      [organisationStructure]="organisationStructure"
      (removeOrganisationSummary)="removeOrganisation($event)"
      (removeUndertakingOrganisationSummary)="removeUndertakingOrganisation($event)"
    ></esos-organisation-structure-summary-page>
  </ng-container>

  <button
    *ngIf="vm.sectionsCompleted[vm.subtaskName] !== 'COMPLETED' && vm.isEditable"
    (click)="submit()"
    govukButton
    type="submit"
  >
    Confirm and continue
  </button>
</ng-container>
