<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Add an organisation"
  caption="Organisation structure"
  submitText="Save and continue"
  [hideSubmit]="!isEditable"
  [showReturnLink]="true"
>
  <div
    formControlName="registrationNumberExist"
    govuk-radio
    legend="Does this organisation have a registration number?"
  >
    <govuk-radio-option [value]="true" label="Yes">
      <ng-container govukConditionalContent>
        <div
          formControlName="registrationNumber"
          govuk-text-input
          label="Registration number"
          widthClass="govuk-!-width-one-third"
        ></div>
      </ng-container>
    </govuk-radio-option>
    <govuk-radio-option [value]="false" label="No"></govuk-radio-option>
  </div>

  <div
    formControlName="organisationName"
    govuk-text-input
    label="Organisation name"
    widthClass="govuk-!-width-three-quarters"
  ></div>

  <p class="govuk-body">
    What are the organisation's activity codes? (optional if the organisation is not covered in this notification)
  </p>
  <div govuk-checkboxes formControlName="areSameAsRU">
    <govuk-checkbox [value]="true" label="They are the same as the RU's"></govuk-checkbox>
  </div>

  <p class="govuk-body">or</p>
  <p class="govuk-body">Enter the organisation's activity codes</p>
  <esos-activity-codes-input [disabled]="isChecked()"></esos-activity-codes-input>

  <esos-activity-codes-guidance-template></esos-activity-codes-guidance-template>

  <div class="govuk-body">
    <p>
      Is this organisation part of an arrangement where 2 or more highest UK parent groups are complying as one
      participant?
    </p>
  </div>
  <esos-boolean-radio-group controlName="isPartOfArrangement"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isPartOfArrangement"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Has this organisation ceased to be part of the highest parent group or participant since the qualification date but agreed to comply as if it were still a member?</p>
  </div>
  <esos-boolean-radio-group controlName="hasCeasedToBePartOfGroup"></esos-boolean-radio-group>

  <div class="govuk-body">
    <p>Is this organisation a franchisee?</p>
  </div>
  <esos-boolean-radio-group controlName="isPartOfFranchise"></esos-boolean-radio-group>
  <esos-organisation-structure-help-content field="isPartOfFranchise"></esos-organisation-structure-help-content>

  <div class="govuk-body">
    <p>Is this organisation a parent of the responsible undertaking?</p>
  </div>
  <esos-boolean-radio-group controlName="isParentOfResponsibleUndertaking"></esos-boolean-radio-group>

  <div class="govuk-body">
    <p>Is this organisation a subsidiary of the responsible undertaking?</p>
  </div>
  <esos-boolean-radio-group controlName="isSubsidiaryOfResponsibleUndertaking"></esos-boolean-radio-group>
</esos-wizard-step>
