<esos-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  heading="Enter the details of the lead assessor who reviewed the assessment"
  caption="Lead assessor details"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <div formControlName="firstName" govuk-text-input label="First name" widthClass="govuk-!-width-two-thirds"></div>
  <div formControlName="lastName" govuk-text-input label="Last name" widthClass="govuk-!-width-two-thirds"></div>
  <div formControlName="email" govuk-text-input label="Email address" widthClass="govuk-!-width-two-thirds"></div>

  <div
    [options]="professionalBodyTypes"
    formControlName="professionalBody"
    govuk-select
    label="Professional body"
    widthClass="govuk-!-width-two-thirds"
  ></div>

  <div
    formControlName="membershipNumber"
    govuk-text-input
    label="Membership number"
    widthClass="govuk-!-width-two-thirds"
  ></div>
</esos-wizard-step>
