<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Did this organisation use energy consumption profiling for the purpose of analysing its energy consumption for all ESOS energy audits?"
  caption="Compliance route"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <p class="govuk-body">
    Energy consumption profiles are a breakdown of how energy is used, and how that energy use varies.
  </p>
  <p class="govuk-hint">
    For example, in an office building, the energy consumption profile could include energy used for heating,
    ventilation, and appliances.
  </p>

  <div formControlName="energyConsumptionProfilingUsed" govuk-radio>
    <govuk-radio-option [value]="'YES'" [label]="'YES' | notApplicable"></govuk-radio-option>
    <govuk-radio-option [value]="'NO'" [label]="'NO' | notApplicable"></govuk-radio-option>
    <govuk-radio-option [value]="'NOT_APPLICABLE'" [label]="'NOT_APPLICABLE' | notApplicable">
      <div govukConditionalContent>
        <p class="govuk-body">
          All significant energy consumption is covered by ISO 50001 certification, Display Energy Certificates or Green
          Deal Assessments
        </p>
      </div>
    </govuk-radio-option>
  </div>

  <govuk-details summary="Help me answer this question">
    <p class="govuk-body">
      Energy consumption profiles are a breakdown of how energy is used by a particular asset or activity and how that
      energy use varies.
    </p>
    <p class="govuk-body">
      Your analysis of energy consumption of buildings, transport and industrial processes for your ESOS audit must be
      based on energy consumption profiles where appropriate and reasonably practicable.
    </p>
    <p class="govuk-body">
      Where this is not the case, you must give a reason in your evidence pack and refer to this in your compliance
      notification to your regulator.
    </p>
  </govuk-details>
</esos-wizard-step>
