<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Are the methods used for estimated data recorded in the evidence pack?"
  caption="Compliance route"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <p class="govuk-body govuk-!-font-weight-bold">The evidence pack needs to contain:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>Details of the methods used and the extent to which it was used.</li>
    <li>The reasons why actual data was not used.</li>
  </ul>
  <p class="govuk-body">
    This would have been carried out by the lead assessor, who may be part of your organisation or external.
  </p>
  <p class="govuk-body">If you are unsure if this information is in the evidence pack, speak to your lead assessor.</p>

  <div formControlName="areEstimationMethodsRecorded" govuk-radio>
    <govuk-radio-option [value]="'YES'" [label]="'YES' | skipQuestion"></govuk-radio-option>
    <govuk-radio-option [value]="'NO'" [label]="'NO' | skipQuestion"></govuk-radio-option>
    <govuk-radio-option
      [value]="'SKIP_QUESTION'"
      [label]="'SKIP_QUESTION' | skipQuestion"
      [divider]="true"
    ></govuk-radio-option>
  </div>

  <govuk-details summary="Help me answer this question">
    <p class="govuk-body">The evidence pack must contain:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>details of the methods used and the extent to which they were used</li>
      <li>the reason why actual data was not used</li>
    </ul>
    <p class="govuk-body">
      The methods used for estimated data would have been added to the evidence pack by the lead assessor.
    </p>
    <p class="govuk-body">
      If you are not sure whether this information is in the evidence pack, contact your lead assessor.
    </p>
  </govuk-details>
</esos-wizard-step>
