<esos-wizard-step
  (formSubmit)="onSubmit()"
  [formGroup]="form"
  heading="Is the lead assessor who reviewed your ESOS assessment internal or external to your corporate group?"
  caption="Lead assessor details"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <div formControlName="leadAssessorType" govuk-radio>
    <govuk-radio-option [value]="'INTERNAL'" [label]="'INTERNAL' | internalExternal"></govuk-radio-option>
    <govuk-radio-option [value]="'EXTERNAL'" [label]="'EXTERNAL' | internalExternal"></govuk-radio-option>
  </div>
</esos-wizard-step>
