<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Enter the energy audit details"
  caption="Compliance route"
  submitText="Save and continue"
  [hideSubmit]="!isEditable"
  [showReturnLink]="true"
>
  <div class="govuk-body">
    <div
      formControlName="description"
      govuk-textarea
      label="Explain where the audit took place and what was covered"
      [maxLength]="10000"
    ></div>

    <div
      formControlName="numberOfSitesCovered"
      govuk-text-input
      [inputType]="'number'"
      label="Number of sites covered by the audit (optional)"
      widthClass="govuk-!-width-one-third"
    ></div>

    <div
      formControlName="numberOfSitesVisited"
      govuk-text-input
      [inputType]="'number'"
      label="Number of sites visited"
      widthClass="govuk-!-width-one-third"
    ></div>

    <div
      formControlName="reason"
      govuk-textarea
      label="Reasons why the sites visited for the energy audit are considered to be representative of how energy is used by assets and activities during the 12-month period covered by the energy audit."
      [maxLength]="10000"
    ></div>
  </div>
</esos-wizard-step>
