<ul class="govuk-list">
  <li *ngFor="let account of accounts" class="search-results-list_item">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half">
        <a govukLink routerLink="." (click)="clickAccount($event, account)" [attr.aria-label]="'View ' + account.name">
          {{ account.name }}
        </a>

        <div>{{ account.organisationId }}</div>
      </div>

      <div class="govuk-grid-column-one-half govuk-!-text-align-right">
        <govuk-tag [color]="account.status | accountStatusTagColor">
          {{ account.status | accountStatus | uppercase }}
        </govuk-tag>
      </div>
    </div>
  </li>
</ul>
