<esos-wizard-step
  [formGroup]="form"
  [heading]="contentMap.complianceRouteDistribution.title"
  [caption]="contentMap.title"
  (formSubmit)="submit()"
  submitText="Save and continue"
  [hideSubmit]="!isEditable"
  [showReturnLink]="true"
>
  <div
    formControlName="iso50001Pct"
    govuk-text-input
    inputType="number"
    label="ISO 50001"
    suffix="%"
    widthClass="govuk-input--width-3"
  ></div>

  <div
    formControlName="displayEnergyCertificatePct"
    govuk-text-input
    inputType="number"
    label="Display Energy Certificate (DECs)"
    suffix="%"
    widthClass="govuk-input--width-3"
  ></div>

  <div
    formControlName="greenDealAssessmentPct"
    govuk-text-input
    inputType="number"
    label="Green Deal Assessment"
    suffix="%"
    widthClass="govuk-input--width-3"
  ></div>

  <div
    formControlName="energyAuditsPct"
    govuk-text-input
    inputType="number"
    label="Energy audits that are compliant with ESOS"
    suffix="%"
    widthClass="govuk-input--width-3"
  ></div>

  <div
    formControlName="energyNotAuditedPct"
    govuk-text-input
    inputType="number"
    label="Energy use not covered by any compliance route"
    suffix="%"
    hint="If more than 5% of energy use is not covered by any compliance route, the organisation is not fully compliant with ESOS.
    If you need to enter 0 due to rounding down,
    you will still be able to answer questions about your significant energy consumption."
    widthClass="govuk-input--width-3"
  ></div>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible" />

  <h2 class="govuk-heading-s govuk-!-margin-bottom-0">Total</h2>

  <p class="govuk-body">The sum of the above percentages must equal 100%</p>

  <p title="total" class="govuk-body">{{ total() }}%</p>

  <govuk-details summary="Help me answer this question">
    <p class="govuk-body">
      You must choose one or more routes to compliance that cover all your areas of significant energy consumption, see
      <a
        govukLink
        rel="noreferrer noopener"
        href="https://www.gov.uk/government/publications/comply-with-the-energy-savings-opportunity-scheme-esos/complying-with-the-energy-savings-opportunity-scheme-esos#section-4"
        target="_blank"
      >
        section 4 (opens in a new tab) </a
      >.
    </p>

    <p class="govuk-body">There are 4 ways to demonstrate that you've made a compliant ESOS assessment:</p>

    <ul>
      <li>ISO 50001 certification</li>
      <li>Display Energy Certificates (DECs)</li>
      <li>Green Deal Assessments (GDAs)</li>
      <li>ESOS compliant energy audits</li>
    </ul>

    <p class="govuk-body">
      If you choose to comply with ESOS using an existing certification or assessment, it must have been issued after 5
      December 2019 and be valid at either the compliance date, which is 5 December 2023 for the third compliance
      period, or
      the extended compliance period of 5 June 2024.
    </p>

    <p class="govuk-body">
      Previous audit work, for instance performed as part of other energy audit schemes, can be used towards compliance
      for ESOS provided it:
    </p>

    <ul>
      <li>was conducted within the compliance period, and</li>
      <li>
        meets the minimum requirements of an ESOS energy audit, see
        <a
          govukLink
          rel="noreferrer noopener"
          href="https://www.gov.uk/government/publications/comply-with-the-energy-savings-opportunity-scheme-esos/complying-with-the-energy-savings-opportunity-scheme-esos#section-5-4-1"
          target="_blank"
        >
          section 5.4.1 (opens in a new tab)
        </a>
      </li>
      <li>was not used for compliance in the previous compliance period</li>
    </ul>

    <p class="govuk-body">
      To understand each compliance route you can read the
      <a
        govukLink
        rel="noreferrer noopener"
        href="https://www.gov.uk/government/publications/comply-with-the-energy-savings-opportunity-scheme-esos/complying-with-the-energy-savings-opportunity-scheme-esos#considering-available-routes-to-compliance"
        target="_blank"
      >
        ESOS guidance (opens in a new tab) </a
      >.
    </p>
  </govuk-details>
</esos-wizard-step>
