<dl class="govuk-summary-list">
  @if (!isNullOrUndefined(updateForMeasure?.measureIsImplemented)) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.measureIsImplemented.title }}</dt>
      <dd govukSummaryListRowValue>{{ updateForMeasure?.measureIsImplemented | booleanToText }}</dd>
      <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.measureIsImplemented' }" />
    </div>
  }
  @if (!isNullOrUndefined(updateForMeasure?.measureImplementedByTheDateInActionPlan)) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.measureImplementedByTheDateInActionPlan.title }}</dt>
      <dd govukSummaryListRowValue>{{ updateForMeasure?.measureImplementedByTheDateInActionPlan | booleanToText }}</dd>
      <ng-container
        *ngTemplateOutlet="changeLink; context: { fragment: 'l.measureImplementedByTheDateInActionPlan' }"
      />
    </div>
  }

  @if (!isNullOrUndefined(updateForMeasure?.reportReduction2024To2025)) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.reportReduction2024To2025.title }}</dt>
      <dd govukSummaryListRowValue>{{ updateForMeasure?.reportReduction2024To2025 | booleanToText }}</dd>
      <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.reportReduction2024To2025' }" />
    </div>
  }
  @if (!isNullOrUndefined(updateForMeasure?.reductionEnergyConsumption2024To2025)) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.reductionEnergyConsumption2024To2025.title }}</dt>
      <dd govukSummaryListRowValue>{{ updateForMeasure?.reductionEnergyConsumption2024To2025 }} kWh</dd>
      <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.reductionEnergyConsumption2024To2025' }" />
    </div>
  }

  @if (!isNullOrUndefined(updateForMeasure?.reportReduction2023To2024)) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.reportReduction2023To2024.title }}</dt>
      <dd govukSummaryListRowValue>{{ updateForMeasure?.reportReduction2023To2024 | booleanToText }}</dd>
      <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.reportReduction2023To2024' }" />
    </div>
  }

  @if (
    !isNullOrUndefined(updateForMeasure?.reductionEnergyConsumption2023To2024) ||
    (isNullOrUndefined(updateForMeasure?.reportReduction2023To2024) && updateForMeasure?.measureIsImplemented)
  ) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.reductionEnergyConsumption2023To2024.title }}</dt>
      <dd govukSummaryListRowValue>
        @if (!isNullOrUndefined(updateForMeasure?.reductionEnergyConsumption2023To2024)) {
          {{ updateForMeasure?.reductionEnergyConsumption2023To2024 }} kWh
        }
      </dd>
      <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.reductionEnergyConsumption2023To2024' }" />
    </div>
  }

  @if (!isNullOrUndefined(updateForMeasure?.estimationMethodType)) {
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>{{ contentMap.estimationMethodType.title }}</dt>
      <dd govukSummaryListRowValue>
        {{ updateForMeasure.estimationMethodType | estimationMethodType: 'summary' }}
        @if (updateForMeasure.estimationMethodType === 'OTHER_METHOD') {
          <p class="govuk-body govuk-!-margin-top-1 govuk-!-margin-bottom-0">
            {{ updateForMeasure.estimationMethodDescription }}
          </p>
        }
      </dd>
      <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.estimationMethodType' }" />
    </div>
  }

  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>{{ contentMap.providedContext.title }}</dt>
    <dd govukSummaryListRowValue>{{ updateForMeasure?.providedContext }}</dd>
    <ng-container *ngTemplateOutlet="changeLink; context: { fragment: 'l.providedContext' }" />
  </div>
</dl>

<ng-template #changeLink let-fragment="fragment">
  @if (isEditable) {
    <dd govukSummaryListRowActions>
      <a
        govukLink
        class="govuk-link--no-visited-state"
        [routerLink]="[measureIndex + '/' + stepUrls.EDIT_UPDATE_FOR_MEASURE]"
        [fragment]="fragment"
        >Change</a
      >
    </dd>
  }
</ng-template>
