<ng-container *ngIf="energyConsumptionDetails?.totalEnergyConsumption">
  <h2 class="govuk-heading-m">What is the total energy consumption in kWh for the reference period?</h2>

  <esos-energy-consumption-details-summary-template
    [isEditable]="isEditable"
    [energyConsumption]="energyConsumptionDetails.totalEnergyConsumption"
    [queryParams]="queryParams"
    [changeLink]="changeLink.TOTAL_ENERGY"
  ></esos-energy-consumption-details-summary-template>
</ng-container>

<!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
<ng-container *ngIf="energyConsumptionDetails?.significantEnergyConsumptionExists != null">
  <h2 class="govuk-heading-m">Have you used significant energy consumption?</h2>

  <dl govuk-summary-list>
    <div govukSummaryListColumn>
      <dd govukSummaryListColumnValue>
        {{ energyConsumptionDetails?.significantEnergyConsumptionExists | booleanToText }}
      </dd>
      <dd govukSummaryListColumnActions *ngIf="isEditable">
        <a govukLink [routerLink]="[changeLink.USE_SIGNIFICANT_ENERGY]" [queryParams]="queryParams">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="energyConsumptionDetails?.significantEnergyConsumption">
  <h2 class="govuk-heading-m">What is the significant energy consumption in kWh for the reference period?</h2>

  <esos-energy-consumption-details-summary-template
    [isEditable]="isEditable"
    [energyConsumption]="energyConsumptionDetails.significantEnergyConsumption"
    [queryParams]="queryParams"
    [changeLink]="changeLink.SIGNIFICANT_ENERGY"
  ></esos-energy-consumption-details-summary-template>
</ng-container>

<ng-container *ngIf="energyConsumptionDetails?.energyIntensityRatioData as ratioData">
  <h2 class="govuk-heading-m">
    Energy intensity ratios for your
    {{ energyConsumptionDetails?.significantEnergyConsumptionExists ? 'significant' : 'total' }} energy consumption
  </h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-!-margin-bottom-3" />

  <ng-container
    *ngIf="
      energyConsumptionDetails?.significantEnergyConsumption?.buildings > 0 ||
      energyConsumptionDetails?.totalEnergyConsumption?.buildings > 0
    "
  >
    <h2 class="govuk-heading-m">Buildings</h2>
    <esos-energy-intensity-ratio-table-summary-template
      [changeLink]="changeLink.ENERGY_INTENSITY_RATIO"
      [isEditable]="isEditable"
      [queryParams]="queryParams"
      [energyIntensityRatioDetails]="ratioData.buildings"
    ></esos-energy-intensity-ratio-table-summary-template>
  </ng-container>

  <ng-container
    *ngIf="
      energyConsumptionDetails?.significantEnergyConsumption?.transport > 0 ||
      energyConsumptionDetails?.totalEnergyConsumption?.transport > 0
    "
  >
    <h2 class="govuk-heading-m">Transport</h2>
    <esos-energy-intensity-ratio-table-summary-template
      [changeLink]="changeLink.ENERGY_INTENSITY_RATIO"
      [isEditable]="isEditable"
      [queryParams]="queryParams"
      [energyIntensityRatioDetails]="ratioData.transport"
    ></esos-energy-intensity-ratio-table-summary-template>
  </ng-container>

  <ng-container
    *ngIf="
      energyConsumptionDetails?.significantEnergyConsumption?.industrialProcesses > 0 ||
      energyConsumptionDetails?.totalEnergyConsumption?.industrialProcesses > 0
    "
  >
    <h2 class="govuk-heading-m">Industrial Processes</h2>
    <esos-energy-intensity-ratio-table-summary-template
      [changeLink]="changeLink.ENERGY_INTENSITY_RATIO"
      [isEditable]="isEditable"
      [queryParams]="queryParams"
      [energyIntensityRatioDetails]="ratioData.industrialProcesses"
    ></esos-energy-intensity-ratio-table-summary-template>
  </ng-container>

  <ng-container
    *ngIf="
      energyConsumptionDetails?.significantEnergyConsumption?.otherProcesses > 0 ||
      energyConsumptionDetails?.totalEnergyConsumption?.otherProcesses > 0
    "
  >
    <h2 class="govuk-heading-m">Other energy uses</h2>
    <esos-energy-intensity-ratio-table-summary-template
      [changeLink]="changeLink.ENERGY_INTENSITY_RATIO"
      [isEditable]="isEditable"
      [queryParams]="queryParams"
      [energyIntensityRatioDetails]="ratioData.otherProcesses"
    ></esos-energy-intensity-ratio-table-summary-template>
  </ng-container>
</ng-container>

<!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
<ng-container *ngIf="energyConsumptionDetails?.additionalInformationExists != null">
  <h2 class="govuk-heading-m">Do you want to add more information to give context to the energy intensity ratio?</h2>

  <dl govuk-summary-list>
    <div govukSummaryListColumn>
      <dd govukSummaryListColumnValue>
        {{ energyConsumptionDetails.additionalInformationExists | booleanToText }}
        <br />
        <span *ngIf="energyConsumptionDetails.additionalInformation" class="pre-wrap">
          {{ energyConsumptionDetails?.additionalInformation }}
        </span>
      </dd>

      <dd govukSummaryListColumnActions *ngIf="isEditable">
        <a govukLink [routerLink]="[changeLink.ADDITIONAL_INFO]" [queryParams]="queryParams">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>
