<govuk-details summary="Help me answer this question">
  <p class="govuk-body govuk-!-font-weight-bold">What a lead assessor will do</p>
  <p class="govuk-body">
    Your lead assessor must review your ESOS assessment to consider whether it meets the requirements of the scheme.
  </p>

  <p class="govuk-body">This will involve:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>reviewing the calculation of total energy consumption</li>
    <li>
      reviewing the determination of the assets and activities in your significant energy consumption (at least 95% of
      the total energy consumption)
    </li>
    <li>confirming that the necessary certifications and evidence exist for any alternative routes to compliance</li>
    <li>reviewing that the audits undertaken meet the minimum criteria for ESOS</li>
  </ul>

  <p class="govuk-body">Your lead assessor can either:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>carry out your ESOS assessment and audits themselves</li>
    <li>check that the assessment and audits done by people who are not lead assessors meet the requirements</li>
  </ul>
</govuk-details>
