@if (vm(); as vm) {
  <div class="govuk-grid-row">
    <div [class]="vm.hasRelatedActions && vm.isAssignable ? 'govuk-grid-column-two-thirds' : 'govuk-grid-column-full'">
      <esos-page-heading size="l" [bottomSpacing]="vm.warningMessage ? 6 : 2">{{ vm.header }}</esos-page-heading>

      @if (vm.warningMessage) {
        <govuk-warning-text [assistiveText]="vm.warningMessage" />
      }

      @if (vm.requestTask) {
        <esos-task-header-info
          class="govuk-!-margin-bottom-6"
          [assignee]="vm.requestTask.assigneeFullName"
          [daysRemaining]="vm.requestTask.daysRemaining"
        />
      }

      @if (vm.preContentComponent) {
        <ng-container *ngComponentOutlet="vm.preContentComponent" />
      }

      @if (vm.contentComponent) {
        <ng-container *ngComponentOutlet="vm.contentComponent" />
      } @else {
        <esos-task-list [sections]="vm.sections" />
      }

      @if (vm.postContentComponent) {
        <ng-container *ngComponentOutlet="vm.postContentComponent" />
      }

      @if (vm.hasRelatedTasks) {
        <esos-related-tasks [items]="vm.relatedTasks" />
      }

      @if (vm.hasTimeline) {
        <esos-timeline>
          @for (timelineEntry of vm.timeline; track timelineEntry) {
            <esos-timeline-item [action]="timelineEntry" [link]="timelineEntry | timelineItemLink: true" />
          }
        </esos-timeline>
      }
    </div>

    @if (vm.hasRelatedActions && vm.isAssignable) {
      <div class="govuk-grid-column-one-third">
        <esos-related-actions
          [isAssignable]="vm.isAssignable"
          [taskId]="vm.requestTask.id"
          [allowedActions]="vm.relatedActions"
        />
      </div>
    }
  </div>
}
