<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  [heading]="energySavingsOpportunityMap.energyConsumption.title"
  [caption]="energySavingsOpportunityMap.title"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <p class="govuk-body">
    Where reasonably practicable, for each organisational purpose, calculate the sum of all the estimates of annual
    reductions in energy consumption and energy spend which would be achieved as a result of implementing the energy
    saving opportunities identified by your energy audits that most closely relate to the organisational purpose.
  </p>
  <p class="govuk-body">
    Provide as much of the information as you can, ensuring the totals do not exceed those you provided on the previous
    page.
  </p>

  <esos-energy-consumption-input-with-cost></esos-energy-consumption-input-with-cost>

  <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible" />
  <h2 class="govuk-heading-m">Total</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">{{ totalConsumption() | noDataEntered : 'kWh' }}</div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="govuk-body">{{ totalCost() | currency : 'GBP' | noDataEnteredForCost }}</div>
    </div>
  </div>
</esos-wizard-step>
