<ng-container
  *ngIf="confirmation?.responsibilityAssessmentTypes || confirmation?.noEnergyResponsibilityAssessmentTypes"
>
  <h2 class="govuk-heading-m">Responsible officer review</h2>
  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>
        I confirm that the responsible officer has reviewed the recommendations of the ESOS assessment and is satisfied
        that, to the best of their knowledge, the following statements are true:
      </dt>
      <dd govukSummaryListRowValue>
        <ng-container
          [ngTemplateOutlet]="typesTemplate"
          [ngTemplateOutletContext]="{
            assessmentTypes: confirmation?.responsibilityAssessmentTypes
              ? responsibilityAssessmentTypes
              : noEnergyResponsibilityAssessmentTypes
          }"
        >
        </ng-container>
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a
          govukLink
          [routerLink]="
            confirmation?.responsibilityAssessmentTypes
              ? [wizardStep.STEP_ASSESSMENT_TYPES]
              : [wizardStep.STEP_NO_ENERGY_ASSESSMENT_TYPES]
          "
          [queryParams]="{ change: true }"
        >
          Change
        </a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="confirmation?.responsibleOfficerDetails">
  <h2 class="govuk-heading-m">Details of the responsible officer</h2>

  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>First name</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.firstName }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Last name</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.lastName }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Job title</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.jobTitle }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Email address</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.email }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Address</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.line1 }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <ng-container *ngIf="confirmation?.responsibleOfficerDetails?.line2">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Address 2</dt>
        <dd govukSummaryListRowValue>
          {{ confirmation.responsibleOfficerDetails.line2 }}
        </dd>
        <dd govukSummaryListRowActions *ngIf="isEditable">
          <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
        </dd>
      </div>
    </ng-container>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Town or city</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.city }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>County</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.county }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Postcode</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.postcode }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Phone number 1</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.phoneNumber.countryCode | phoneNumber }}
        {{ confirmation.responsibleOfficerDetails.phoneNumber.number }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Phone number 2</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.responsibleOfficerDetails.mobileNumber.countryCode | phoneNumber }}
        {{ confirmation.responsibleOfficerDetails.mobileNumber.number }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="confirmation?.reviewAssessmentDate">
  <h2 class="govuk-heading-m">When did the responsible officer review the ESOS assessment recommendations?</h2>

  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListColumn>
      <dt govukSummaryListColumnKey>{{ confirmation.reviewAssessmentDate | govukDate }}</dt>
      <dd govukSummaryListColumnValue></dd>
      <dd govukSummaryListColumnActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_ASSESSMENT_DATE]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="confirmation?.secondResponsibleOfficerEnergyTypes">
  <h2 class="govuk-heading-m">Second responsible officer review</h2>

  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>
        I confirm that a second responsible officer has reviewed the recommendations of the ESOS assessment and is
        satisfied that, to the best of their knowledge, the following statements are true:
      </dt>
      <dd govukSummaryListRowValue>
        <ng-container
          [ngTemplateOutlet]="typesTemplate"
          [ngTemplateOutletContext]="{ assessmentTypes: secondResponsibleOfficerEnergyTypes }"
        >
        </ng-container>
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_TYPES]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-container *ngIf="confirmation?.secondResponsibleOfficerDetails">
  <h2 class="govuk-heading-m">Details of the second responsible officer</h2>

  <dl govuk-summary-list [hasBorders]="true">
    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>First name</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.firstName }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Last name</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.lastName }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Job title</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.jobTitle }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Email address</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.email }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Address</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.line1 }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <ng-container *ngIf="confirmation?.secondResponsibleOfficerDetails?.line2">
      <div govukSummaryListRow>
        <dt govukSummaryListRowKey>Address 2</dt>
        <dd govukSummaryListRowValue>
          {{ confirmation.secondResponsibleOfficerDetails.line2 }}
        </dd>
        <dd govukSummaryListRowActions *ngIf="isEditable">
          <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">
            Change</a
          >
        </dd>
      </div>
    </ng-container>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Town or city</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.city }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>County</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.county }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Postcode</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.postcode }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Phone number 1</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.phoneNumber.countryCode | phoneNumber }}
        {{ confirmation.secondResponsibleOfficerDetails.phoneNumber.number }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>

    <div govukSummaryListRow>
      <dt govukSummaryListRowKey>Phone number 2</dt>
      <dd govukSummaryListRowValue>
        {{ confirmation.secondResponsibleOfficerDetails.mobileNumber.countryCode | phoneNumber }}
        {{ confirmation.secondResponsibleOfficerDetails.mobileNumber.number }}
      </dd>
      <dd govukSummaryListRowActions *ngIf="isEditable">
        <a govukLink [routerLink]="[wizardStep.STEP_SECOND_OFFICER_DETAILS]" [queryParams]="{ change: true }">Change</a>
      </dd>
    </div>
  </dl>
</ng-container>

<ng-template #typesTemplate let-assessmentTypes="assessmentTypes">
  <ul class="govuk-list govuk-list--bullet">
    <li>{{ assessmentTypes['SATISFIED_WITH_ORGANISATION_WITHIN_SCOPE_OF_THE_SCHEME'] }}</li>
    <li>{{ assessmentTypes['SATISFIED_WITH_ORGANISATION_COMPLIANT_WITH_SCOPE_OF_THE_SCHEME'] }}</li>
    <li>
      {{ assessmentTypes['SATISFIED_WITH_INFORMATION_PROVIDED_UNLESS_THERE_IS_A_DECLARED_REASON'] }}
    </li>
    <li>{{ assessmentTypes['SATISFIED_WITH_INFORMATION_PROVIDED'] }}</li>
  </ul>
</ng-template>
