<govuk-details summary="About Phase 3 Action Plan">
  <p class="govuk-body">
    You must read the Environment Agency's latest guidance on action plans in issue 30 of its October 2024 ESOS
    newsletter (which can be obtained by emailing
    <a href="mailto: esos@environment-agency.gov.uk">esos&#64;environment-agency.gov.uk</a>) before starting the action
    plan. An action plan is required to be provided following submission of a notification of compliance (NOC) for the
    third compliance period (which had a compliance date of 5 June 2024, extended to 6 August 2024).
  </p>
  <p class="govuk-body">
    A template is provided to enable collection of information prior to entering it in MESOS:
    <a href="assets/files/Action_Plans_Template.xlsx">Action Plans template.xlsx</a>
  </p>

  <h3 class="govuk-heading-s">Submitting the action plan</h3>

  <p class="govuk-body">You must complete an action plan if you are:</p>

  <ul class="govuk-list govuk-list--bullet">
    <li>
      A responsible undertaking which submitted a NOC for the third compliance period under an existing MESOS account.
    </li>
    <li>
      An undertaking that has left its highest parent group / participant following submission of the NOC, which has not
      agreed to comply with its previous or new group so must comply on its own behalf as the responsible undertaking.
    </li>
  </ul>

  <p class="govuk-body">
    When you start your action plan, you will be asked whether you have any energy efficiency measures proposed to be
    implemented by 5 December 2027; these can be measures from your ESOS assessment or another source, and include
    measures that relate to other schemes. If you answer 'no', your action plan will be a statement that you propose to
    implement no measures. If you answer 'yes', you will need to add your energy efficiency measure(s) and provide
    information about them. All action plans will be published by the Environment Agency.
  </p>
  <p class="govuk-body">
    Only the responsible undertaking can complete and submit an action plan in MESOS. It will not be possible for lead
    assessors to enter, edit or review the information.
  </p>
  <p class="govuk-body">
    You will be able to save information in your action plan at any time and return to complete it, before submitting
    it.
  </p>
</govuk-details>
