<esos-wizard-step
  (formSubmit)="submit()"
  [formGroup]="form"
  heading="Do you have any information on the energy savings achieved during the compliance period against different energy saving categories?"
  caption="Energy savings achieved"
  submitText="Save and continue"
  [hideSubmit]="false"
  [showReturnLink]="true"
>
  <div formControlName="energySavingCategoriesExist" govuk-radio>
    <govuk-radio-option value="YES" [label]="'YES' | skipQuestion"> </govuk-radio-option>
    <govuk-radio-option value="NO" [label]="'NO' | skipQuestion"></govuk-radio-option>
    <govuk-radio-option
      value="SKIP_QUESTION"
      [label]="'SKIP_QUESTION' | skipQuestion"
      [divider]="true"
    ></govuk-radio-option>
  </div>
</esos-wizard-step>
