<dl govuk-summary-list>
  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Buildings</dt>
    <dd govukSummaryListRowValue>
      <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
      {{ isValidEnergyConsumption(energyConsumption.buildings) ? energyConsumption.buildings + ' kWh' : '' }}
    </dd>
    <dd *ngIf="isEditable" govukSummaryListRowActions>
      <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
    </dd>
  </div>

  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Transport</dt>
    <dd govukSummaryListRowValue>
      <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
      {{ isValidEnergyConsumption(energyConsumption.transport) ? energyConsumption.transport + ' kWh' : '' }}
    </dd>
    <dd *ngIf="isEditable" govukSummaryListRowActions>
      <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
    </dd>
  </div>

  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Industrial processes</dt>
    <dd govukSummaryListRowValue>
      <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
      {{ isValidEnergyConsumption(energyConsumption.industrialProcesses)  ? energyConsumption.industrialProcesses + ' kWh' : '' }}
    </dd>
    <dd *ngIf="isEditable" govukSummaryListRowActions>
      <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
    </dd>
  </div>

  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Other energy uses</dt>
    <dd govukSummaryListRowValue>
      <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
      {{ isValidEnergyConsumption(energyConsumption.otherProcesses) ? energyConsumption.otherProcesses + ' kWh' : '' }}
    </dd>
    <dd *ngIf="isEditable" govukSummaryListRowActions>
      <a govukLink [routerLink]="changeLink" [queryParams]="queryParams">Change</a>
    </dd>
  </div>

  <div govukSummaryListRow>
    <dt govukSummaryListRowKey>Total</dt>
    <dd govukSummaryListRowValue>
      <strong>{{ energyConsumption.total }}</strong>
      <!-- eslint-disable-next-line @angular-eslint/template/eqeqeq -->
      {{ energyConsumption.total != null ? 'kWh' : '' }}
      <span *ngIf="energyConsumption?.significantEnergyConsumptionPct">
        (<strong>{{ energyConsumption.significantEnergyConsumptionPct }}%</strong> of total energy consumption)
      </span>
    </dd>
  </div>
</dl>
