<h3 class="govuk-heading-s">Buildings</h3>

<div class="row-flex" formGroupName="buildings">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Transport</h3>

<div class="row-flex" formGroupName="transport">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Industrial Processes</h3>

<div class="row-flex" formGroupName="industrialProcesses">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>

<h3 class="govuk-heading-s">Other energy uses</h3>

<div class="row-flex" formGroupName="otherProcesses">
  <div class="govuk-grid-column-one-third align-self-end">
    <div
      govuk-text-input
      inputType="number"
      suffix="kWh"
      label="Potential reduction in energy consumption"
      formControlName="energyConsumption"
    ></div>
  </div>

  <div class="govuk-grid-column-one-third align-self-end">
    <div govuk-text-input prefix="£" label="Potential reduction in energy spend" formControlName="energyCost"></div>
  </div>
</div>
